* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff7a;
    color: white;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 50px;
    color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.nav-links li {
    display: inline;
}
.pricing {
    position: relative;
    padding: 1rem 1.5rem;
}
.pricing::before {
    content: " ";
    position: absolute;
    background-color: #333;
    left: 0;
    width: 2px;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.pricing::after {
    content: " ";
    position: absolute;
    background-color: #333;
    right: 0;
    width: 2px;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a:visited {
    color: #00a329;
}
.nav-links a:active {
    color: #ce0909;
}
.contact {
    padding-right: 50px;
}
.contact a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.contact a:hover {
    background-color: #07d3d3;
    color: white;
}
.contact a:focus {
    outline: none;
    border: 2px solid #047070;

}