html {
    scroll-behavior: smooth;
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

/* header */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff7a;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1000;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 50px;
    color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 25px;
}
.nav-links li {
    display: inline;
}
.pricing {
    position: relative;
    padding: 1rem 1.5rem;
}
.pricing::before {
    content: " ";
    position: absolute;
    background-color: #333;
    left: 0;
    width: 2px;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.pricing::after {
    content: " ";
    position: absolute;
    background-color: #090f0f;
    right: 0;
    width: 2px;
    height: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.nav-links a {
    color: #1d1919;
    text-decoration: none;
    font-size: 15px;
}
.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a:visited {
    color: #00a329;
}
.nav-links a:active {
    color: #ce0909;
}
.contact {
    padding-right: 50px;
}
.contact a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.contact a:hover {
    background-color: #07d3d3;
    color: white;
}
.contact a:focus {
    outline: none;
    border: 2px solid #047070;
}


/* body */

.container {
    display: flex;
    margin: auto;
    height: 80vh;
    width: 90%;
}
.hero-sidebar {
    width: 5%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}
.sidebar {
    display: flex;
    flex-direction: row-reverse;
    writing-mode:sideways-lr;
    gap: 30px;
}
.sidebar p {
    display: flex;
    font-size: 20px;
    text-decoration: none;
}
#latest{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #07d3d3;   
}

.content {
    display: flex;
    width: 95%;
    background-color: #E4E4E4;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.image-content {
    display: flex;
    width: 50%;
}
.text-content {
    position: relative;
    padding: 60px;
    width: 50%;
}



.title {
    border-radius: 10%;
    width: 600px;
    font-size: 40px;
    margin: 40px;
}
.title h1::first-letter{
    color: #07d3d3;
    font-size: 100px;
    font-weight: bolder;
}
.description{
    width: 400px;
    font-size: 30px;
    margin: 50px;
}
.btn-explore{
    width: 120px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    padding: 8px 15px;
    background-color: #07d3d3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
    cursor: pointer;
}
.btn {
    position: absolute;
    display: flex;
    left: 250px;
    top: 510px;

}
.btn-play{
    background-color: #fff;
    width: 35px;
    height: 35px;
    color: #07d3d3;
    border: none;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}
.btn-play:hover{
    border: 1px solid;
}
.image-g1{
    position: relative;
    width: 50%;
    height: 100%;
}
.image-g1-1{
    position: absolute;
    width: 80%;
    height: 28%;
    border-radius: 30px;
    background-color: #fff;
    top: 50px;
    left: 80px;
}
.img{
    margin: 20px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 20px;
    background-image: url('../images/swagy-cat.jpg');
}
.g-1-name{
    display: flex;
    gap: 150px;
    margin: 20px;
}
.g-1-name p{
    font-weight: 600;
}
.g-1-detail{
    gap: 80px;
    margin: 20px;
    margin-top: 25px;
    display: flex;
}
.g-1-detail i{
    color: #ffd000;
}
.image-g1-2{
    position: absolute;
    width: 60%;
    height: 55%;
    border-radius: 30px;
    background-color: rgb(108, 108, 122);
    top: 270px;
    left: 80px;
    background-image: url('../images/sea1.jpg');
    background-size: cover;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
}
.inner-g1-2{
    position: absolute;
    display: flex;
    background-color: #ffffffb7;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    top: 250px;
    left: 22px;
}
.inner-g1-2-detail{
    display: flex;
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 18px;
    font-weight: 500;
}
.inner-g1-2-detail-1 {
    position: absolute;
    left: 20px;
    top: 70px;
    display: flex;
    gap: 4px;
    font-size: 18px;
    font-weight: 500;
}
.inner-g1-2-detail-2{
    display: flex;
    position: absolute;
    top: 70px;
    left: 120px;
    gap: 4px;
    font-size: 18px;
    font-weight: 500;
}
.inner-g1-2-detail-2 i{
    color: #ffd000;
}
.image-g2{
    position: relative;
    width: 50%;
    height: 100%;
}
.image-g2-1{
    position: absolute;
    width: 60%;
    height: 55%;
    border-radius: 30px;
    background-color: rgb(108, 108, 122);
    top: 30px;
    left: 40px;
    background-image: url('../images/sea2.jpg');
    background-size: cover;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
}
.image-g2-2{
    position: absolute;
    display: flex;
    width: 80%;
    height: 28%;
    border-radius: 30px;
    background-color: #fff;
    padding: 20px;
    top: 440px;
    left: 40px;
}
.image-right{
    display: flex;
    width: 35%;
    height: 100%;
    background-color: #a59b9b;
    border-radius: 10px;
    background-image: url('../images/coffee1.jpg');
    background-size: cover;
    border: 2px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
}
.image-left{
    position: relative;
    display: flex;
    width: 65%;
    height: 100%;
    border-radius: 10px;
}
.image-text{
    position: absolute;
    display: flex;
    width: 100%;
    height: 40%;
    padding: 10px;
    align-items: center;
    justify-items: center;
}
.image-triple{
    position: absolute;
    display: flex;
    width: 100%;
    height: 55%;
    top: 63px;
    left: 10px;
}
.img-1{
    position: absolute;
    width: 70px;
    height: 90px;
    border-radius: 10px;
    background-image: url('../images/coffee2.jpg');
    background-size: cover;
    border: 2px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 5px;
}
.img-2{
    position: absolute;
    width: 70px;
    height: 90px;
    border-radius: 10px;
    background-image: url('../images/coffee3.jpg');
    background-size: cover;
    border: 2px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 50px;
}
.img-3{
    position: absolute;
    width: 70px;
    height: 90px;
    border-radius: 10px;
    background-image: url('../images/coffee4.jpg');
    background-size: cover;
    border: 2px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 90px;
}
.container-2 {
    display: flex;
    margin: auto;
    height: 60vh;
    width: 90%;
}
.part-text{
    position: relative;
    padding: 50px;
    padding-left: 90px;
    width: 50%;
    left: 60px;
}
.text-head{
    width: 700px;
    font-size: 33px;
    margin: 50px;
}
.text-paraf{
    display: flex;
    width: 600px;
    font-size: 24px;
    margin: 50px;
    line-height: 1.7;
}
.button-exp button{
    width: 145px;
    font-size: 25px;
    text-decoration: none;
    color: #07d3d3;
    font-size: 15px;
    border: 1.8px solid #07d3d3;
    border-radius: 20px;
    padding: 8px 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    margin-left: 50px;
    cursor: pointer;
    background-color: #fff;
    transition: all 1s ease-in-out;
}
.button-exp button:hover{
    background-color: #0cdfdf;
    border: 1.8px solid #07d3d3;
    color: #fff;
}
.button-exp button:focus {
    outline: none;
    border: 1.8px solid #ac7002;
    background-color: #cc8604;
    color: #fff;

}





.part-img{
    display: flex;
    position: relative;
    width: 50%;
    padding: 30px;
    gap: 15px;
}
.image-one{
    display: flex;
    position: absolute;
    width: 200px;
    height: 300px;
    background-size: cover;
    border: 20px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
    border-radius: 19px;
    top: 50px;
    left: 50px;
    transition: transform 0.3s ;
}
.image-one img{
    position: absolute;
    width: 163px;
    height: 257px;
    border-radius: 15px;
}
.image-one:hover{
    transform: scale(1.05);
}
.image-two{
    display: flex;
    position: absolute;
    width: 200px;
    height: 300px;
    background-size: cover;
    border: 20px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
    border-radius: 19px;
    top: 160px;
    left: 270px;
    transition: transform 0.3s ease-in-out;
}
.image-two img{
    position: absolute;
    width: 163px;
    height: 257px;
    border-radius: 15px;
}
.image-two:hover{
    transform: scale(1.05);
}
.image-three{
    display: flex;
    position: absolute;
    width: 200px;
    height: 300px;
    background-size: cover;
    border: 20px solid white;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
    border-radius: 19px;
    top: 50px;
    left: 490px;
    transition: transform 0.3s ease-in-out;
}
.image-three img{
    position: absolute;
    width: 163px;
    height: 257px;
    border-radius: 15px;
}
.image-three:hover{
    transform: scale(1.05);
}



.container-3{
    display: flex;
    margin: auto;
    height: 20vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-3 h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.section-3 p{
    font-size: 20px;
}



.container-4 {
    display: flex;
    padding: 50px;
    width: 90vw;
    height: 90vh;
    margin: auto;
    font-family: Arial, sans-serif;
}

.travel-content {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 180px;
}

.travel-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number {
    background-color: #148f8f;
    width: 45px;
    height: 40px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 17px;
}

.travel-item h3 {
    margin: 0;
    font-size: 24px;
    color: #000000;
}

.travel-item p {
    font-size: 17px;
    color: #000000;
    line-height: 1.5;
    width: 460px;
}
.travel-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.travel-image {
    width: 45%;
    height: 90%;
    background-image: url('../images/travel.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
#profile-1{
    top: 130px;
    left: 120px;
}
#profile-2{
    top: 450px;
    left: 120px;
}
#profile-3{
    top: 300px;
    left: 420px;
}
.user-icons {
    position: absolute;
    display: flex;
    background-color: #ffffffb9;
    width: 180px;
    height: 60px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.4);
}
.user-icons img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.a1{
    width: 30%;
    height: 100%;
}
.a2{
    width: 70%;
    height: 100%;
}
.b1{
    width: 100%;
    height: 50%;

    padding: 3px;
    font-weight: 500;
}
.b2{
    width: 100%;
    height: 50%;
    padding: 3px;
    color: #148f8f;
}

/* back to top */

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #07d3d3;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    z-index: 1000;
  }
.back-to-top i {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

/* footer */

footer{
    font-family: Arial, sans-serif;
    background-color: #E4E4E4;
    padding: 20px;
    text-align: center;
}